/* 標籤基本樣式 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* img {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
} */

a {
    text-underline-offset: 1px;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $neutral-900;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    color: $neutral-900;
    text-decoration: none;
    display: block;
    font-weight: 500;
    &:hover{ 
        background-color: $primary-200;
    }
}
.story-link {
    color: $primary-400;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    display:block;
}
