<div class="bg-primary-200 d-flex justify-center align-center py-24">
        <p class=" h4 h5-sm me-24 me-sm-16">加入會員取得9折優惠</p>
        <button type="button" class="btn btn-dark">馬上註冊</button>
     </div>
<footer class="bg-neutral-100 py-64 py-sm-32">
        <div class="container">
            <nav class="d-flex align-center justify-between d-sm-block mb-24">
                <a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="logo"></a>
                <ul class="d-flex d-sm-block px-sm-12">
                    <li class="me-40 me-sm-0 mb-sm-4">
                        <a href="products.html" class="a py-12">商品列表</a>
                    </li>
                    <li>
                        <a href="story.html" class="a py-12">品牌故事</a>
                    </li>
                </ul>
            </nav>
            <div class="py-32 text-sm text-neutral-600 text-center section-lined">
                <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
                <p class="mb-32">All Rights Reserved.</p>
            </div>
        </div>
     </footer>